<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Race.io - Easy data visualization</title>
</head>

<!-- UPLOAD -->
<template name="upload">
    {{#unless currentFile}}
    <div class="fixed-action-btn click-to-toggle" style="bottom:45px; right:24px;">
      <form action="#">
          <div class="file-field input-field">
              <div class="btn-floating btn-large red">
                <i class="large material-icons">publish</i>
                  <input type="file" id="csv-file" name="uploadCSV" />
              </div>
          </div>
      </form>

        <!-- <a class="btn-floating btn-large red"><i class="large material-icons">publish</i></a> -->
    </div>
    {{else}}
    <p>Uploading files <b>{{currentFile.file.name}}</b></p>
    <div class="section">
      <div class="progress">
        <div class="determinate" style="width: {{currentFile.progress.get}}%"></div>
      </div>
    </div>
    {{/unless}}
</template>

<!-- TESTS -->
<template name="tests">
    <div class="container">
        {{#if Template.subscriptionsReady}}
        {{> upload}}
        <div class="section">
            <div class="row">
              <table class="highlight">
                <thead>
                  <tr>
                      <th data-field="id">Name</th>
                      <th data-field="date">Date</th>
                      <th data-field="time">Time</th>
                      <th data-field="driver">Driver</th>
                      <th data-field="buttons"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each tests}} {{> cardtest date = meta.Date time = meta.Time desc=meta.Comment user=meta.User id = _id}} {{/each}}
                </tbody>
              </table>
            </div>
        </div>
        {{else}}
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>

<!-- CARDTEST -->
<template name="cardtest">
      <tr>
        <td>{{desc}}</td>
        <td>{{date}}</td>
        <td>{{time}}</td>
        <td>{{user}}</td>
        <td><a href="/test/{{id}}" class="waves-effect waves-light btn blue"><i class="material-icons left small">equalizer</i>view</a></td>
      </tr>
    </template>
