<template name="header">
    <div class="navbar-fixed">
        <ul id="dropdownMyAccount" class="dropdown-content">
            <li><a href="">My Profile</a></li>
            <li><a href="{{pathFor route='settings'}}">Settings</a></li>
            <li class="divider"></li>
            <li><a href="">Logout</a></li>
        </ul>
        <ul id="dropdownDashboard" class="dropdown-content">
            <li><a href="{{pathFor route='dashboard'}}">Dashboard</a></li>
            <li><a href="{{pathFor route='tests'}}">Tests</a></li>
        </ul>
        <nav class="red">
            <div class="nav-wrapper">
                <a href="{{pathFor route='home'}}" class="brand-logo center">Race.io</a>
                <ul class="left hide-on-med-and-down">
                    <li><a data-activates="dropdownDashboard" href="#!" class="dropdown-button waves-effect waves-red">Dashboard <i class="material-icons right">arrow_drop_down</i></a></li>
                    <li class="no-padding"><a href="" class="waves-effect waves-red">Reports</a></li>
                    <li class="no-padding"><a href="" class="waves-effect waves-red">History</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#!" data-activates="dropdownMyAccount" class="dropdown-button waves-effect waves-red">My Account <i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                {{> sidenav}}
            </div>
        </nav>
    </div>
</template>
