<template name="mainLayout">
    {{> header}} {{> yield}} {{> footer}}
</template>
<template name="layout">
    {{> header}} {{> yield}}
</template>
<template name="header">
    <div class="navbar-fixed">
        <nav class="red">
            <a href="{{pathFor route='home'}}" class="brand-logo center">Race.io</a>
            <ul class="left hide-on-med-and-down">
                {{#each leftmenu}}
                <li class="no-padding"><a href="{{url}}" class="waves-effect waves-teal">{{name}}</a></li>
                {{/each}}
            </ul>
            <ul class="right hide-on-med-and-down">
                {{#each rightmenu}}
                <li class="no-padding">
                    <a href="{{url}}" class="waves-effect waves-teal">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            <ul id="slide-out" class="side-nav">
                {{#each leftmenu}}
                <li class="no-padding"><a href="{{url}}" class="waves-effect waves-teal">{{name}}</a></li>
                {{/each}} {{#each rightmenu}}
                <li class="no-padding"><a href="{{url}}" class="waves-effect waves-teal">{{name}}</a></li>
                {{/each}}
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </nav>
    </div>
</template>
<template name="footer">
    <footer class="page-footer red">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="red-text text-lighten-3" href="http://github.com/musantro">Antonio Rodríguez</a>
            </div>
        </div>
    </footer>
</template>
