<template name="sidenav">
    <ul id="slide-out" class="side-nav">
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">Dashboard</a></li>
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">History</a></li>
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">Tests</a></li>
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">Reports</a></li>
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">My Profile</a></li>
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">Settings</a></li>
    	<li class="no-padding"><a href="" class="waves-effect waves-teal">Logout</a></li>
        {{#each leftmenu}}
        <li class="no-padding"><a href="{{url}}" class="waves-effect waves-teal">{{name}}</a></li>
        {{/each}} {{#each rightmenu}}
        <li class="no-padding"><a href="{{url}}" class="waves-effect waves-teal">{{name}}</a></li>
        {{/each}}
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</template>
